<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form method="POST" action="/forgot-password">
        <div class="flex items-center gap-10">
          <a href="/login" class="back-icon"></a>
          <div class="self-start text-3xl font-bold text-blue-500">Forgot Password</div>
        </div>
        <div class="self-start text-xl font-bold mt-4">Enter Email</div>
        <div class="w-full items-center gap-1.5 mt-2">
          <input type="email" id="email" name="email" placeholder="Email" class="border border-black rounded-xl w-full" required />
        </div>
        <button type="submit" class="text-white cursor-pointer w-full bg-blue-500 rounded-xl py-2 mt-4">Continue</button>
      </form>
</body>
</html>